body {
     overflow-x: hidden;
}
 img{
     height: 40px;
     width: 40px;
}
 li{
     color: white;
}
 ul {
     list-style-type: none;
     margin-left: -40px;
}
 #map {
     height: 80%;
     width: 100%;
     position: absolute;
     left: 20;
}
 .mapContainer{

     padding-bottom: 75%;
     height: 0;
     overflow: hidden;
}
 #wrapper {
     padding-left: 0;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
}
 #wrapper.toggled {
     padding-left: 250px;
}
 #sidebar {
     z-index: 1000;
     position: fixed;
     left: 250px;
     height: 100%;
     margin-left: -250px;
     overflow-y: auto;
     background: orange;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
}
 #wrapper.toggled #sidebar {
     width: 250px;
}
 #page-content-wrapper {
     width: 100%;
     position: absolute;
     padding: 15px;
}
 #wrapper.toggled #page-content-wrapper {
     position: absolute;
     margin-right: -250px;
}
 .listOfHikes {
     position: absolute;
     top: 0;
     width: 250px;
     margin: 0;
     padding: 0;
     list-style: none;
     text-indent: 20px;
     line-height: 40px;
}
 .ListHeading {
     height: 65px;
     font-size: 18px;
     line-height: 60px;
     padding-top: 20px;
     padding-left: 14px;
}
 .search{
     padding-bottom: 20px;
     color:black;
}
 .search-box{
     padding-right: 50px;
}
 @media(min-width:768px) {
     #wrapper {
         padding-left: 0;
    }
     #wrapper.toggled {
         padding-left: 250px;
    }
     #sidebar {
         width: 0;
    }
     #wrapper.toggled #sidebar {
         width: 250px;
    }
     #page-content-wrapper {
         padding: 20px;
         position: relative;
    }
     #wrapper.toggled #page-content-wrapper {
         position: relative;
         margin-right: 0;
    }
}
 @media(min-width:360px) {
     #wrapper {
         padding-left: 0;
    }
     #wrapper.toggled {
         padding-left: 250px;
    }
     #sidebar {
         width: 0;
    }
     #wrapper.toggled #sidebar {
         width: 250px;
    }
     #page-content-wrapper {
         padding: 20px;
         position: relative;
    }
     #wrapper.toggled #page-content-wrapper {
         position: relative;
         margin-right: 0;
    }
}
